modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 5173

[[ports]]
localPort = 8084
externalPort = 8000

[[ports]]
localPort = 8085
externalPort = 8099

[[ports]]
localPort = 20130
externalPort = 3000

[[ports]]
localPort = 20131
externalPort = 3001

[[ports]]
localPort = 20132
externalPort = 5000

[[ports]]
localPort = 20133
externalPort = 6800

[[ports]]
localPort = 20134
externalPort = 8081

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "61d53eaeb5dd3a868f4eac9c1d43b7f2ba9273cf3793dd440a1ad2548d6b30ba"
ARTIX_DATABASE_URL = "postgresql://postgres.oafvcfqjlxroufsxbmve:qKUn$&8Xb77FH,A@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres"
